/* Variables */
:root {
    --background-dark: rgb(45, 67, 106);
    --background-light: rgb(160, 219, 237);
    --text-dark: rgb(113, 73, 73);
    --text-light: rgb(255, 228, 118);
    --primary-color: rgb(124, 141, 168);  
    --accent-color: coral;
}

/* CSS Resets */
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/* Page styling */
body {
    background-color: var(--background-dark);
    color: var(--text-light);
    transition: all 2s;
}

body.switch {
    background-color: var(--background-light);
    color: var(--text-dark);
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
    padding-top: 2em;
}

header {
    margin: 0 auto 2em auto;
    text-align: center;
}

#banner {
    position: relative;
    display: flex;
    width: 1100px;
    height: 250px;
    margin: auto;
    background-color: var(--background-light);
    color: var(--text-dark);
    overflow: hidden;
    display: grid;
	place-items: center;
}

#banner.switch {
    background-color: var(--background-dark);
    color: var(--text-light);
    transition: all 2s;
}

main {
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
}

main section {
    flex: 1;
    border: 1px var(--text-light) dashed;
    margin: 0 .25em;
    padding: 1em;
}

a {
    text-decoration: none;
}

nav ol, nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section li {
    padding-left: 1.2em;
}

section a {
    line-height: 1.1em;
    display: inline-block;
    padding: .5em;
    color: var(--primary-color);
}

section a:hover {
    background-color: var(--primary-color);
    color: var(--text-dark);
}

section.switch a {
    color: var(--text-dark);
}

section.switch a:hover {
    background-color: var(--background-dark);
    color: var(--text-light);
}

button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 12px;
    background-color: var(--primary-color);
    color: var(--text-dark);
    border: 1px solid transparent;
}

button:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}

button.switch {
    background-color: var(--background-light);
    border-color: var(--text-dark);
}

button.switch:hover {
    background-color: var(--background-dark);
    color: var(--text-light);
}
